body {

    background: radial-gradient(rgb(237, 161, 193) 30%, rgb(250, 178, 172) 50.5%, rgb(190, 228, 210) 65.3%, rgb(215, 248, 247) 90.8%);    
    
}



h1 {
    text-align: center;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
    border-radius: 15px;
    font-size: 50px;
}

h2{

    font-size: 40px;

}

#Hello {

    text-align: center;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
    width: inherit;
    border-radius: 15px;

}

.sectionTitle {

    text-align: center;
    border: 1px solid black;
    box-shadow: 10px 5px 5px #0CAB63;
    border-radius: 15px;
    font-size: 40px;
    

}

p {
    color: #5e1b10;
    font-size: 20px;
}

button {

    position: relative;
    left: 30%;
    width: 40%;
    height: 50%;
}

li {

    font-size: 30px;

}

ol {
    font-size: 20px;
}